@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-black;
    background-image: url('../public/space-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  